<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>IJ.e</key>
	<string>I_J_.e.glif</string>
	<key>K.swsh</key>
	<string>K_.swsh.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.swsh</key>
	<string>L_.swsh.glif</string>
	<key>Lslash.swsh</key>
	<string>L_slash.swsh.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.isol</key>
	<string>Q_.isol.glif</string>
	<key>R.isol</key>
	<string>R_.isol.glif</string>
	<key>R.swsh</key>
	<string>R_.swsh.glif</string>
	<key>_part_Q-tail</key>
	<string>_part_Q_-tail.glif</string>
	<key>b.medi.e</key>
	<string>b.medi.e.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eth.posto</key>
	<string>eth.posto.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.e</key>
	<string>g.e.glif</string>
	<key>g.isol</key>
	<string>g.isol.glif</string>
	<key>g.medi</key>
	<string>g.medi.glif</string>
	<key>g.medi.e</key>
	<string>g.medi.e.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>ij.e</key>
	<string>ij.e.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>joint.Ex</key>
	<string>joint.E_x.glif</string>
	<key>joint.Ez</key>
	<string>joint.E_z.glif</string>
	<key>joint.ex</key>
	<string>joint.ex.glif</string>
	<key>joint.oh</key>
	<string>joint.oh.glif</string>
	<key>oslash.isol</key>
	<string>oslash.isol.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.e</key>
	<string>y.e.glif</string>
</dict>
</plist>
