<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>a</key>
		<string>a.glif</string>
		<key>circumflexcomb.case</key>
		<string>circumflexcomb.case.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>q.ss02</key>
		<string>q.ss02.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>ringcomb.case</key>
		<string>ringcomb.case.glif</string>
	</dict>
</plist>
