<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.1
1676623586.2 a.glif
1676623586.2 circumflexcomb.case.glif
1676625109.4 f.glif
1676623586.2 g.glif
1676623586.2 k.glif
1676623586.2 m.glif
1676623586.2 q.ss02.glif
1676623586.2 questiondown.glif
1676623586.2 r.glif
1676623586.2 ringcomb.case.glif</string>
		</dict>
	</dict>
</plist>
