<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.1
1678099032.8 a.glif
1678099032.8 circumflexcomb.case.glif
1678347101.1 f.glif
1678099032.8 g.glif
1678099032.8 k.glif
1678099032.8 m.glif
1678099032.8 q.ss02.glif
1678099032.8 questiondown.glif
1678099032.8 r.glif
1678099032.8 ringcomb.case.glif</string>
		</dict>
	</dict>
</plist>
