<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1600</integer>
	<key>capHeight</key>
	<integer>1450</integer>
	<key>copyright</key>
	<string>Prima © 2021–2023 by Titus Nemeth and Martin Tiefenthaler is licensed under CC BY-NC-SA 4.0. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/</string>
	<key>descender</key>
	<integer>-670</integer>
	<key>familyName</key>
	<string>Prima</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>935</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>75</integer>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>75</integer>
			<key>x</key>
			<integer>1028</integer>
			<key>y</key>
			<integer>1268</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>840</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1056</integer>
			<key>y</key>
			<integer>1714</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>546</integer>
			<key>y</key>
			<integer>1932</integer>
		</dict>
	</array>
	<key>italicAngle</key>
	<string>15</string>
	<key>openTypeHeadCreated</key>
	<string>2021/12/30 13:09:40</string>
	<key>openTypeHheaAscender</key>
	<integer>2000</integer>
	<key>openTypeHheaDescender</key>
	<integer>-750</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Titus Nemeth, Martin Tiefenthaler</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://www.wienerschriften.at</string>
	<key>openTypeNameLicense</key>
	<string>This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/ or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.</string>
	<key>openTypeNameManufacturer</key>
	<string>Wiener Schriften</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://www.wienerschriften.at</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Cursive</string>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>510</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>80</integer>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>2000</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-750</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>WS</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2000</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>750</integer>
	<key>postscriptBlueValues</key>
	<array>
		<real>-12.0</real>
		<real>0.0</real>
		<real>910.0</real>
		<real>935.0</real>
		<real>1450.0</real>
		<real>1465.0</real>
		<real>1600.0</real>
		<real>1625.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>Prima-Cursive</string>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-690.0</real>
		<real>-670.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>80.0</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-200</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>80</integer>
	<key>styleMapFamilyName</key>
	<string>Prima</string>
	<key>styleMapStyleName</key>
	<string>italic</string>
	<key>styleName</key>
	<string>Cursive</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>101</integer>
	<key>xHeight</key>
	<integer>910</integer>
</dict>
</plist>
