<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.A-right</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>public.kern1.B</key>
		<array>
			<string>B</string>
		</array>
		<key>public.kern1.E</key>
		<array>
			<string>E</string>
			<string>AE</string>
			<string>OE</string>
		</array>
		<key>public.kern1.E.isol</key>
		<array>
			<string>E.isol</string>
			<string>Eacute.isol</string>
			<string>Ebreve.isol</string>
			<string>Ecaron.isol</string>
			<string>Ecircumflex.isol</string>
			<string>Edieresis.isol</string>
			<string>Edotaccent.isol</string>
			<string>Egrave.isol</string>
			<string>Emacron.isol</string>
			<string>Eogonek.isol</string>
		</array>
		<key>public.kern1.Eogonek</key>
		<array>
			<string>Eogonek</string>
		</array>
		<key>public.kern1.F</key>
		<array>
			<string>F</string>
		</array>
		<key>public.kern1.G.isol</key>
		<array>
			<string>G.isol</string>
			<string>Gbreve.isol</string>
			<string>Gcommaaccent.isol</string>
			<string>Gdotaccent.isol</string>
		</array>
		<key>public.kern1.H</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>Hbar</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
		</array>
		<key>public.kern1.J</key>
		<array>
			<string>J.isol</string>
			<string>IJ.isol</string>
			<string>Eng</string>
			<string>Jacute.isol</string>
		</array>
		<key>public.kern1.K.salt</key>
		<array>
			<string>K.swsh</string>
		</array>
		<key>public.kern1.L.isol</key>
		<array>
			<string>L.isol</string>
		</array>
		<key>public.kern1.L.salt</key>
		<array>
			<string>L.swsh</string>
			<string>Lslash.swsh</string>
		</array>
		<key>public.kern1.N</key>
		<array>
			<string>N</string>
		</array>
		<key>public.kern1.O</key>
		<array>
			<string>D</string>
			<string>O</string>
			<string>Q.isol</string>
			<string>Eth</string>
			<string>Schwa</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
		</array>
		<key>public.kern1.P</key>
		<array>
			<string>P</string>
		</array>
		<key>public.kern1.Q</key>
		<array>
			<string>Q</string>
			<string>Q.swsh</string>
		</array>
		<key>public.kern1.R.isol</key>
		<array>
			<string>R.isol</string>
		</array>
		<key>public.kern1.R.swsh</key>
		<array>
			<string>R.swsh</string>
		</array>
		<key>public.kern1.S</key>
		<array>
			<string>S</string>
			<string>Germandbls</string>
			<string>germandbls.calt</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern1.T</key>
		<array>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
		</array>
		<key>public.kern1.T-right</key>
		<array>
			<string>T</string>
		</array>
		<key>public.kern1.Thorn</key>
		<array>
			<string>Thorn</string>
		</array>
		<key>public.kern1.U</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
		</array>
		<key>public.kern1.V</key>
		<array>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
		</array>
		<key>public.kern1.X</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern1.Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
		</array>
		<key>public.kern1.a</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aring</string>
			<string>atilde</string>
		</array>
		<key>public.kern1.ampersand</key>
		<array>
			<string>ampersand</string>
		</array>
		<key>public.kern1.aogonek</key>
		<array>
			<string>aogonek</string>
			<string>aogonek.medi</string>
			<string>adieresis.salt</string>
			<string>udieresis.salt</string>
			<string>adieresis.medi.salt</string>
		</array>
		<key>public.kern1.arrowleft</key>
		<array>
			<string>arrowleft</string>
		</array>
		<key>public.kern1.arrowright</key>
		<array>
			<string>arrowright</string>
		</array>
		<key>public.kern1.asterisk</key>
		<array>
			<string>asterisk</string>
		</array>
		<key>public.kern1.at</key>
		<array>
			<string>at</string>
		</array>
		<key>public.kern1.backslash</key>
		<array>
			<string>backslash</string>
		</array>
		<key>public.kern1.braceleft</key>
		<array>
			<string>braceleft</string>
		</array>
		<key>public.kern1.braceright</key>
		<array>
			<string>braceright</string>
		</array>
		<key>public.kern1.bracketleft</key>
		<array>
			<string>bracketleft</string>
		</array>
		<key>public.kern1.bracketright</key>
		<array>
			<string>bracketright</string>
		</array>
		<key>public.kern1.colon</key>
		<array>
			<string>colon</string>
		</array>
		<key>public.kern1.comma</key>
		<array>
			<string>comma</string>
		</array>
		<key>public.kern1.dash</key>
		<array>
			<string>endash</string>
			<string>emdash</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>public.kern1.e</key>
		<array>
			<string>ae</string>
			<string>ae.salt</string>
			<string>ebreve.medi</string>
			<string>ebreve.postb</string>
		</array>
		<key>public.kern1.e.medi</key>
		<array>
			<string>e.medi</string>
		</array>
		<key>public.kern1.eight</key>
		<array>
			<string>eight</string>
		</array>
		<key>public.kern1.eogonek</key>
		<array>
			<string>eogonek</string>
			<string>eogonek.postb</string>
		</array>
		<key>public.kern1.eth</key>
		<array>
			<string>eth</string>
			<string>eth.posto</string>
		</array>
		<key>public.kern1.exclam</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern1.exclamdown</key>
		<array>
			<string>exclamdown</string>
		</array>
		<key>public.kern1.finial.A</key>
		<array>
			<string>finial.A</string>
		</array>
		<key>public.kern1.finial.H</key>
		<array>
			<string>finial.H</string>
		</array>
		<key>public.kern1.finial.f</key>
		<array>
			<string>finial.f</string>
		</array>
		<key>public.kern1.finial.lc</key>
		<array>
			<string>finial</string>
		</array>
		<key>public.kern1.finial.r</key>
		<array>
			<string>finial.r</string>
		</array>
		<key>public.kern1.finial.uc</key>
		<array>
			<string>finial.uc</string>
		</array>
		<key>public.kern1.five</key>
		<array>
			<string>five</string>
		</array>
		<key>public.kern1.four</key>
		<array>
			<string>four</string>
		</array>
		<key>public.kern1.g.fina</key>
		<array>
			<string>g.fina</string>
			<string>g.isol</string>
			<string>gbreve.fina</string>
			<string>gcommaaccent.fina</string>
			<string>gdotaccent.fina</string>
		</array>
		<key>public.kern1.guillemetleft</key>
		<array>
			<string>guillemetleft</string>
			<string>guilsinglleft</string>
		</array>
		<key>public.kern1.guillemetright</key>
		<array>
			<string>guillemetright</string>
			<string>guilsinglright</string>
		</array>
		<key>public.kern1.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>softhyphen</string>
		</array>
		<key>public.kern1.hyphen.calt</key>
		<array>
			<string>hyphen.calt</string>
		</array>
		<key>public.kern1.i</key>
		<array>
			<string>idotless</string>
			<string>i</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>iogonek</string>
		</array>
		<key>public.kern1.j</key>
		<array>
			<string>jdotless</string>
			<string>jdotless.e</string>
			<string>j</string>
			<string>j.fina</string>
			<string>ij</string>
			<string>ij.e</string>
			<string>jacute</string>
			<string>jacute.e</string>
		</array>
		<key>public.kern1.j-fina</key>
		<array>
			<string>jdotless.fina</string>
			<string>ij.fina</string>
			<string>jacute.fina</string>
		</array>
		<key>public.kern1.joint.Ex</key>
		<array>
			<string>joint.Ex</string>
		</array>
		<key>public.kern1.joint.Ez</key>
		<array>
			<string>joint.Ez</string>
		</array>
		<key>public.kern1.joint.Hn</key>
		<array>
			<string>joint.Hn</string>
			<string>joint.Hv</string>
		</array>
		<key>public.kern1.joint.en</key>
		<array>
			<string>joint.En</string>
			<string>joint.einitn</string>
			<string>joint.en</string>
			<string>joint.ev</string>
		</array>
		<key>public.kern1.joint.ex.salt</key>
		<array>
			<string>joint.ex.salt</string>
		</array>
		<key>public.kern1.joint.gn</key>
		<array>
			<string>joint.gn</string>
			<string>joint.gz</string>
		</array>
		<key>public.kern1.joint.gv</key>
		<array>
			<string>joint.gv</string>
		</array>
		<key>public.kern1.joint.os</key>
		<array>
			<string>joint.os</string>
		</array>
		<key>public.kern1.joint.ox</key>
		<array>
			<string>joint.ox</string>
		</array>
		<key>public.kern1.joint.qz</key>
		<array>
			<string>joint.qz</string>
		</array>
		<key>public.kern1.joint.sa</key>
		<array>
			<string>joint.sa</string>
		</array>
		<key>public.kern1.joint.vn</key>
		<array>
			<string>joint.vn</string>
		</array>
		<key>public.kern1.joint.vv</key>
		<array>
			<string>joint.vv</string>
			<string>joint.vz</string>
		</array>
		<key>public.kern1.n</key>
		<array>
			<string>m</string>
			<string>n</string>
		</array>
		<key>public.kern1.nine</key>
		<array>
			<string>nine</string>
		</array>
		<key>public.kern1.o</key>
		<array>
			<string>b</string>
			<string>o</string>
			<string>o.isol</string>
			<string>p</string>
			<string>thorn</string>
			<string>schwa.medi</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>oacute.e</string>
			<string>ocircumflex.e</string>
			<string>odieresis.e</string>
			<string>ograve.e</string>
			<string>ohungarumlaut.e</string>
			<string>omacron.e</string>
			<string>oslash.e</string>
			<string>otilde.e</string>
			<string>oacute.isol</string>
			<string>ocircumflex.isol</string>
			<string>odieresis.isol</string>
			<string>ograve.isol</string>
			<string>ohungarumlaut.isol</string>
			<string>omacron.isol</string>
			<string>oslash.isol</string>
			<string>otilde.isol</string>
			<string>odieresis.salt</string>
		</array>
		<key>public.kern1.one</key>
		<array>
			<string>one</string>
		</array>
		<key>public.kern1.parenleft</key>
		<array>
			<string>parenleft</string>
		</array>
		<key>public.kern1.parenright</key>
		<array>
			<string>parenright</string>
		</array>
		<key>public.kern1.period</key>
		<array>
			<string>period</string>
			<string>ellipsis</string>
		</array>
		<key>public.kern1.periodcentered</key>
		<array>
			<string>periodcentered</string>
			<string>periodcentered.loclCAT</string>
		</array>
		<key>public.kern1.prime</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
		<key>public.kern1.q</key>
		<array>
			<string>q</string>
		</array>
		<key>public.kern1.q.medi</key>
		<array>
			<string>q.medi</string>
		</array>
		<key>public.kern1.question</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern1.questiondown</key>
		<array>
			<string>questiondown</string>
		</array>
		<key>public.kern1.quotebase</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern1.quoteleft</key>
		<array>
			<string>quotedblleft</string>
			<string>quoteleft</string>
		</array>
		<key>public.kern1.quoteright</key>
		<array>
			<string>quotedblright</string>
			<string>quoteright</string>
		</array>
		<key>public.kern1.s</key>
		<array>
			<string>s</string>
			<string>s.init</string>
			<string>s.medi</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>sacute.medi</string>
			<string>scaron.medi</string>
			<string>scedilla.medi</string>
			<string>scommaaccent.medi</string>
		</array>
		<key>public.kern1.schwa</key>
		<array>
			<string>schwa</string>
		</array>
		<key>public.kern1.semicolon</key>
		<array>
			<string>semicolon</string>
		</array>
		<key>public.kern1.seven</key>
		<array>
			<string>seven</string>
		</array>
		<key>public.kern1.six</key>
		<array>
			<string>six</string>
		</array>
		<key>public.kern1.slash</key>
		<array>
			<string>slash</string>
		</array>
		<key>public.kern1.space</key>
		<array>
			<string>space</string>
		</array>
		<key>public.kern1.t</key>
		<array>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern1.three</key>
		<array>
			<string>three</string>
		</array>
		<key>public.kern1.two</key>
		<array>
			<string>two</string>
		</array>
		<key>public.kern1.u</key>
		<array>
			<string>u</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
		</array>
		<key>public.kern1.u0042</key>
		<array>
			<string>whiteLeftBackhandIndex.cv01</string>
		</array>
		<key>public.kern1.u0044</key>
		<array>
			<string>whiteRightBackhandIndex</string>
			<string>whiteRightBackhandIndex.cv01</string>
			<string>whiteRightBackhandIndex.cv02</string>
			<string>whiteRightBackhandIndex.cv03</string>
		</array>
		<key>public.kern1.underscore</key>
		<array>
			<string>underscore</string>
		</array>
		<key>public.kern1.v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
		</array>
		<key>public.kern1.x</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern1.x.isol</key>
		<array>
			<string>x.isol</string>
		</array>
		<key>public.kern1.x.poste</key>
		<array>
			<string>x.poste</string>
		</array>
		<key>public.kern1.y-fina</key>
		<array>
			<string>y.fina</string>
			<string>yacute.fina</string>
			<string>ycircumflex.fina</string>
			<string>ydieresis.fina</string>
			<string>ygrave.fina</string>
		</array>
		<key>public.kern1.z</key>
		<array>
			<string>z</string>
		</array>
		<key>public.kern1.zero</key>
		<array>
			<string>zero</string>
		</array>
		<key>public.kern2.A-left</key>
		<array>
			<string>A</string>
			<string>AE</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>public.kern2.B</key>
		<array>
			<string>B</string>
			<string>D</string>
			<string>P</string>
			<string>R</string>
			<string>R.isol</string>
			<string>R.swsh</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
		</array>
		<key>public.kern2.E</key>
		<array>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
		</array>
		<key>public.kern2.E.isol</key>
		<array>
			<string>E.isol</string>
			<string>F</string>
			<string>L.isol</string>
			<string>Eacute.isol</string>
			<string>Ebreve.isol</string>
			<string>Ecaron.isol</string>
			<string>Ecircumflex.isol</string>
			<string>Edieresis.isol</string>
			<string>Edotaccent.isol</string>
			<string>Egrave.isol</string>
			<string>Emacron.isol</string>
			<string>Eogonek.isol</string>
		</array>
		<key>public.kern2.H</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>K</string>
			<string>K.swsh</string>
			<string>N</string>
			<string>Eth</string>
			<string>IJ</string>
			<string>IJ.e</string>
			<string>IJ.isol</string>
			<string>Eng</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Hbar</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Kcommaaccent</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
		</array>
		<key>public.kern2.I</key>
		<array>
			<string>Germandbls</string>
			<string>germandbls.calt</string>
		</array>
		<key>public.kern2.J</key>
		<array>
			<string>J</string>
			<string>J.e</string>
			<string>J.isol</string>
			<string>Jacute</string>
			<string>Jacute.isol</string>
			<string>Jacute.e</string>
		</array>
		<key>public.kern2.L</key>
		<array>
			<string>L</string>
			<string>L.swsh</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>Lslash.swsh</string>
		</array>
		<key>public.kern2.M</key>
		<array>
			<string>M</string>
		</array>
		<key>public.kern2.O</key>
		<array>
			<string>C</string>
			<string>G</string>
			<string>G.e</string>
			<string>G.isol</string>
			<string>O</string>
			<string>Q</string>
			<string>Q.isol</string>
			<string>Q.swsh</string>
			<string>OE</string>
			<string>Schwa</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Cdotaccent</string>
			<string>Gbreve</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Gbreve.e</string>
			<string>Gcommaaccent.e</string>
			<string>Gdotaccent.e</string>
			<string>Gbreve.isol</string>
			<string>Gcommaaccent.isol</string>
			<string>Gdotaccent.isol</string>
		</array>
		<key>public.kern2.S</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern2.T</key>
		<array>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
		</array>
		<key>public.kern2.T-left</key>
		<array>
			<string>T</string>
		</array>
		<key>public.kern2.Thorn</key>
		<array>
			<string>Thorn</string>
		</array>
		<key>public.kern2.U</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
		</array>
		<key>public.kern2.V</key>
		<array>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
		</array>
		<key>public.kern2.X</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern2.Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
		</array>
		<key>public.kern2.Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>public.kern2.a</key>
		<array>
			<string>a</string>
			<string>d</string>
			<string>g</string>
			<string>g.e</string>
			<string>g.medi.e</string>
			<string>g.fina</string>
			<string>g.isol</string>
			<string>q</string>
			<string>q.medi</string>
			<string>ae</string>
			<string>ae.salt</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>gbreve</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>gbreve.e</string>
			<string>gcommaaccent.e</string>
			<string>gdotaccent.e</string>
			<string>gbreve.fina</string>
			<string>gcommaaccent.fina</string>
			<string>gdotaccent.fina</string>
			<string>adieresis.salt</string>
			<string>adieresis.medi.salt</string>
		</array>
		<key>public.kern2.ampersand</key>
		<array>
			<string>ampersand</string>
		</array>
		<key>public.kern2.arrowleft</key>
		<array>
			<string>arrowleft</string>
		</array>
		<key>public.kern2.arrowright</key>
		<array>
			<string>arrowright</string>
		</array>
		<key>public.kern2.asterisk</key>
		<array>
			<string>asterisk</string>
		</array>
		<key>public.kern2.at</key>
		<array>
			<string>at</string>
		</array>
		<key>public.kern2.backslash</key>
		<array>
			<string>backslash</string>
		</array>
		<key>public.kern2.braceleft</key>
		<array>
			<string>braceleft</string>
		</array>
		<key>public.kern2.braceright</key>
		<array>
			<string>braceright</string>
		</array>
		<key>public.kern2.bracketleft</key>
		<array>
			<string>bracketleft</string>
		</array>
		<key>public.kern2.bracketright</key>
		<array>
			<string>bracketright</string>
		</array>
		<key>public.kern2.c</key>
		<array>
			<string>c</string>
		</array>
		<key>public.kern2.colon</key>
		<array>
			<string>colon</string>
		</array>
		<key>public.kern2.comma</key>
		<array>
			<string>comma</string>
		</array>
		<key>public.kern2.dash</key>
		<array>
			<string>endash</string>
			<string>emdash</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>public.kern2.e</key>
		<array>
			<string>ebreve.medi</string>
			<string>ebreve.postb</string>
		</array>
		<key>public.kern2.e.medi</key>
		<array>
			<string>e.medi</string>
		</array>
		<key>public.kern2.eight</key>
		<array>
			<string>eight</string>
		</array>
		<key>public.kern2.exclam</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern2.exclamdown</key>
		<array>
			<string>exclamdown</string>
		</array>
		<key>public.kern2.f</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern2.finial.lc</key>
		<array>
			<string>finial</string>
		</array>
		<key>public.kern2.five</key>
		<array>
			<string>five</string>
		</array>
		<key>public.kern2.four</key>
		<array>
			<string>four</string>
		</array>
		<key>public.kern2.guillemetleft</key>
		<array>
			<string>guillemetleft</string>
			<string>guilsinglleft</string>
		</array>
		<key>public.kern2.guillemetright</key>
		<array>
			<string>guillemetright</string>
			<string>guilsinglright</string>
		</array>
		<key>public.kern2.h</key>
		<array>
			<string>b</string>
			<string>b.e</string>
			<string>h</string>
			<string>k</string>
			<string>k.salt</string>
			<string>l</string>
			<string>lslash_lslash</string>
			<string>hbar</string>
			<string>kcommaaccent</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>kcommaaccent.salt</string>
		</array>
		<key>public.kern2.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>softhyphen</string>
		</array>
		<key>public.kern2.hyphen.calt</key>
		<array>
			<string>hyphen.calt</string>
		</array>
		<key>public.kern2.i</key>
		<array>
			<string>idotless</string>
			<string>i</string>
			<string>ij</string>
			<string>ij.e</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>iogonek</string>
		</array>
		<key>public.kern2.j</key>
		<array>
			<string>jdotless</string>
			<string>jdotless.e</string>
			<string>j</string>
			<string>j.e</string>
			<string>j.fina</string>
			<string>jacute</string>
			<string>jacute.e</string>
			<string>jacute.fina</string>
		</array>
		<key>public.kern2.j-fina</key>
		<array>
			<string>jdotless.fina</string>
		</array>
		<key>public.kern2.joint.Ex</key>
		<array>
			<string>joint.Ex</string>
		</array>
		<key>public.kern2.joint.Ez</key>
		<array>
			<string>joint.Ez</string>
		</array>
		<key>public.kern2.joint.ex.salt</key>
		<array>
			<string>joint.ex.salt</string>
		</array>
		<key>public.kern2.joint.ox</key>
		<array>
			<string>joint.ox</string>
		</array>
		<key>public.kern2.joint.sa</key>
		<array>
			<string>joint.sa</string>
		</array>
		<key>public.kern2.n</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>r</string>
			<string>eng</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
		</array>
		<key>public.kern2.nine</key>
		<array>
			<string>nine</string>
		</array>
		<key>public.kern2.o</key>
		<array>
			<string>e</string>
			<string>o</string>
			<string>o.e</string>
			<string>eth</string>
			<string>eth.posto</string>
			<string>oe</string>
			<string>schwa.medi</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>oacute.e</string>
			<string>ocircumflex.e</string>
			<string>odieresis.e</string>
			<string>ograve.e</string>
			<string>ohungarumlaut.e</string>
			<string>omacron.e</string>
			<string>oslash.e</string>
			<string>otilde.e</string>
			<string>oacute.isol</string>
			<string>ocircumflex.isol</string>
			<string>odieresis.isol</string>
			<string>ograve.isol</string>
			<string>ohungarumlaut.isol</string>
			<string>omacron.isol</string>
			<string>oslash.isol</string>
			<string>otilde.isol</string>
			<string>odieresis.salt</string>
		</array>
		<key>public.kern2.o.isol</key>
		<array>
			<string>o.isol</string>
		</array>
		<key>public.kern2.one</key>
		<array>
			<string>one</string>
		</array>
		<key>public.kern2.p</key>
		<array>
			<string>p</string>
		</array>
		<key>public.kern2.parenleft</key>
		<array>
			<string>parenleft</string>
		</array>
		<key>public.kern2.parenright</key>
		<array>
			<string>parenright</string>
		</array>
		<key>public.kern2.period</key>
		<array>
			<string>period</string>
			<string>ellipsis</string>
		</array>
		<key>public.kern2.periodcentered</key>
		<array>
			<string>periodcentered</string>
			<string>periodcentered.loclCAT</string>
		</array>
		<key>public.kern2.prime</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
		<key>public.kern2.q-joint</key>
		<array>
			<string>joint.qa</string>
			<string>joint.qe</string>
			<string>joint.qs</string>
			<string>joint.qz</string>
		</array>
		<key>public.kern2.question</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern2.questiondown</key>
		<array>
			<string>questiondown</string>
		</array>
		<key>public.kern2.quotebase</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern2.quoteleft</key>
		<array>
			<string>quotedblleft</string>
			<string>quoteleft</string>
		</array>
		<key>public.kern2.quoteright</key>
		<array>
			<string>quotedblright</string>
			<string>quoteright</string>
		</array>
		<key>public.kern2.s</key>
		<array>
			<string>s</string>
			<string>s.init</string>
			<string>s.medi</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>sacute.medi</string>
			<string>scaron.medi</string>
			<string>scedilla.medi</string>
			<string>scommaaccent.medi</string>
		</array>
		<key>public.kern2.schwa</key>
		<array>
			<string>schwa</string>
		</array>
		<key>public.kern2.semicolon</key>
		<array>
			<string>semicolon</string>
		</array>
		<key>public.kern2.seven</key>
		<array>
			<string>seven</string>
		</array>
		<key>public.kern2.six</key>
		<array>
			<string>six</string>
		</array>
		<key>public.kern2.slash</key>
		<array>
			<string>slash</string>
		</array>
		<key>public.kern2.space</key>
		<array>
			<string>space</string>
		</array>
		<key>public.kern2.t</key>
		<array>
			<string>t</string>
			<string>t.r</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>tcaron.r</string>
			<string>tcedilla.r</string>
			<string>tcommaaccent.r</string>
		</array>
		<key>public.kern2.thorn</key>
		<array>
			<string>thorn</string>
		</array>
		<key>public.kern2.three</key>
		<array>
			<string>three</string>
		</array>
		<key>public.kern2.two</key>
		<array>
			<string>two</string>
		</array>
		<key>public.kern2.u</key>
		<array>
			<string>u</string>
			<string>y</string>
			<string>y.fina</string>
			<string>ij.fina</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>yacute.e</string>
			<string>ycircumflex.e</string>
			<string>ydieresis.e</string>
			<string>ygrave.e</string>
			<string>yacute.fina</string>
			<string>ycircumflex.fina</string>
			<string>ydieresis.fina</string>
			<string>ygrave.fina</string>
			<string>udieresis.salt</string>
		</array>
		<key>public.kern2.u0041</key>
		<array>
			<string>whiteLeftBackhandIndex</string>
			<string>whiteLeftBackhandIndex.cv03</string>
		</array>
		<key>public.kern2.u0043</key>
		<array>
			<string>whiteLeftBackhandIndex.cv02</string>
		</array>
		<key>public.kern2.underscore</key>
		<array>
			<string>underscore</string>
		</array>
		<key>public.kern2.v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
		</array>
		<key>public.kern2.x</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern2.x.isol</key>
		<array>
			<string>x.isol</string>
		</array>
		<key>public.kern2.x.poste</key>
		<array>
			<string>x.poste</string>
		</array>
		<key>public.kern2.y</key>
		<array>
			<string>y.e</string>
		</array>
		<key>public.kern2.z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>public.kern2.zero</key>
		<array>
			<string>zero</string>
		</array>
	</dict>
</plist>
