<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bracketleft</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.E.isol</key>
	<dict>
		<key>public.kern2.x</key>
		<integer>-80</integer>
		<key>public.kern2.z</key>
		<integer>130</integer>
	</dict>
	<key>public.kern1.Eogonek</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>90</integer>
		<key>public.kern2.s</key>
		<integer>-60</integer>
		<key>public.kern2.u</key>
		<integer>-50</integer>
		<key>public.kern2.v</key>
		<integer>-40</integer>
		<key>public.kern2.x</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-150</integer>
		<key>public.kern2.c</key>
		<integer>-60</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.j</key>
		<integer>-50</integer>
		<key>public.kern2.n</key>
		<integer>-120</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.p</key>
		<integer>-50</integer>
		<key>public.kern2.s</key>
		<integer>-140</integer>
		<key>public.kern2.schwa</key>
		<integer>-80</integer>
		<key>public.kern2.u</key>
		<integer>-100</integer>
		<key>public.kern2.x</key>
		<integer>-130</integer>
	</dict>
	<key>public.kern1.G.isol</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>50</integer>
		<key>public.kern2.t</key>
		<integer>70</integer>
		<key>public.kern2.x</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>public.kern2.s</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.L.isol</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>100</integer>
		<key>public.kern2.z</key>
		<integer>120</integer>
	</dict>
	<key>public.kern1.N</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.j</key>
		<integer>30</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.schwa</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-80</integer>
		<key>public.kern2.j</key>
		<integer>30</integer>
		<key>public.kern2.s</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
		<key>public.kern2.x</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-250</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.schwa</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.R.isol</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>50</integer>
		<key>public.kern2.t</key>
		<integer>40</integer>
		<key>public.kern2.z</key>
		<integer>90</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>40</integer>
		<key>public.kern2.o</key>
		<integer>20</integer>
		<key>public.kern2.t</key>
		<integer>50</integer>
		<key>public.kern2.x</key>
		<integer>-70</integer>
		<key>public.kern2.z</key>
		<integer>50</integer>
	</dict>
	<key>public.kern1.T-right</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-140</integer>
		<key>public.kern2.c</key>
		<integer>-140</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>public.kern2.i</key>
		<integer>-60</integer>
		<key>public.kern2.j</key>
		<integer>-50</integer>
		<key>public.kern2.j-fina</key>
		<integer>-50</integer>
		<key>public.kern2.n</key>
		<integer>-120</integer>
		<key>public.kern2.o</key>
		<integer>-150</integer>
		<key>public.kern2.p</key>
		<integer>-120</integer>
		<key>public.kern2.parenright</key>
		<integer>100</integer>
		<key>public.kern2.s</key>
		<integer>-200</integer>
		<key>public.kern2.schwa</key>
		<integer>-160</integer>
		<key>public.kern2.u</key>
		<integer>-150</integer>
		<key>public.kern2.v</key>
		<integer>-120</integer>
		<key>public.kern2.x</key>
		<integer>-220</integer>
		<key>public.kern2.z</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.Thorn</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>60</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>egrave</key>
		<integer>-70</integer>
		<key>icircumflex</key>
		<integer>-80</integer>
		<key>igrave</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-150</integer>
		<key>public.kern2.c</key>
		<integer>-120</integer>
		<key>public.kern2.comma</key>
		<integer>-250</integer>
		<key>public.kern2.f</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-100</integer>
		<key>public.kern2.j</key>
		<integer>-50</integer>
		<key>public.kern2.j-fina</key>
		<integer>-60</integer>
		<key>public.kern2.n</key>
		<integer>-120</integer>
		<key>public.kern2.o</key>
		<integer>-180</integer>
		<key>public.kern2.p</key>
		<integer>-50</integer>
		<key>public.kern2.s</key>
		<integer>-140</integer>
		<key>public.kern2.schwa</key>
		<integer>-150</integer>
		<key>public.kern2.u</key>
		<integer>-170</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
		<key>public.kern2.x</key>
		<integer>-150</integer>
		<key>public.kern2.z</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>abreve</key>
		<integer>-100</integer>
		<key>agrave</key>
		<integer>-80</integer>
		<key>ebreve</key>
		<integer>-30</integer>
		<key>edieresis</key>
		<integer>-80</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>emacron</key>
		<integer>-80</integer>
		<key>icircumflex</key>
		<integer>0</integer>
		<key>idieresis</key>
		<integer>0</integer>
		<key>igrave</key>
		<integer>80</integer>
		<key>ograve</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-140</integer>
		<key>public.kern2.c</key>
		<integer>-120</integer>
		<key>public.kern2.f</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-60</integer>
		<key>public.kern2.j</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-130</integer>
		<key>public.kern2.o</key>
		<integer>-120</integer>
		<key>public.kern2.p</key>
		<integer>-120</integer>
		<key>public.kern2.s</key>
		<integer>-120</integer>
		<key>public.kern2.schwa</key>
		<integer>-170</integer>
		<key>public.kern2.u</key>
		<integer>-140</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
		<key>public.kern2.x</key>
		<integer>-200</integer>
		<key>public.kern2.z</key>
		<integer>-100</integer>
		<key>rcaron</key>
		<integer>-70</integer>
		<key>ygrave.fina</key>
		<integer>-100</integer>
		<key>zcaron</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.aogonek</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-30</integer>
		<key>public.kern2.h</key>
		<integer>-10</integer>
		<key>public.kern2.j</key>
		<integer>60</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>public.kern2.x</key>
		<integer>-130</integer>
	</dict>
	<key>public.kern1.arrowleft</key>
	<dict>
		<key>public.kern2.hyphen.calt</key>
		<integer>-500</integer>
	</dict>
	<key>public.kern1.comma</key>
	<dict>
		<key>public.kern2.quoteleft</key>
		<integer>-280</integer>
	</dict>
	<key>public.kern1.eogonek</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>100</integer>
		<key>public.kern2.x</key>
		<integer>-60</integer>
		<key>public.kern2.z</key>
		<integer>50</integer>
	</dict>
	<key>public.kern1.eth</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-70</integer>
		<key>public.kern2.s</key>
		<integer>-20</integer>
		<key>public.kern2.x</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.finial.A</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-250</integer>
		<key>public.kern2.s</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.finial.H</key>
	<dict>
		<key>public.kern2.schwa</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.finial.f</key>
	<dict>
		<key>public.kern2.asterisk</key>
		<integer>200</integer>
	</dict>
	<key>public.kern1.finial.lc</key>
	<dict>
		<key>public.kern2.asterisk</key>
		<integer>-150</integer>
		<key>public.kern2.h</key>
		<integer>-40</integer>
		<key>public.kern2.quoteleft</key>
		<integer>-30</integer>
		<key>public.kern2.quoteright</key>
		<integer>-30</integer>
		<key>public.kern2.schwa</key>
		<integer>30</integer>
		<key>public.kern2.x.isol</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.finial.r</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.c</key>
		<integer>-20</integer>
		<key>public.kern2.f</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.p</key>
		<integer>-30</integer>
		<key>public.kern2.periodcentered</key>
		<integer>70</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.t</key>
		<integer>50</integer>
		<key>public.kern2.u</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>10</integer>
		<key>public.kern2.x</key>
		<integer>-100</integer>
		<key>public.kern2.x.isol</key>
		<integer>-40</integer>
		<key>public.kern2.z</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.finial.uc</key>
	<dict>
		<key>public.kern2.quoteright</key>
		<integer>-130</integer>
	</dict>
	<key>public.kern1.g.fina</key>
	<dict>
		<key>public.kern2.j-fina</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.hyphen.calt</key>
	<dict>
		<key>public.kern2.arrowright</key>
		<integer>-500</integer>
		<key>public.kern2.hyphen.calt</key>
		<integer>-500</integer>
	</dict>
	<key>public.kern1.joint.Hn</key>
	<dict>
		<key>public.kern2.x</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.joint.ox</key>
	<dict>
		<key>public.kern2.x</key>
		<integer>-5</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.asterisk</key>
		<integer>-160</integer>
		<key>public.kern2.f</key>
		<integer>-50</integer>
		<key>public.kern2.h</key>
		<integer>-20</integer>
		<key>public.kern2.joint.ox</key>
		<integer>-5</integer>
		<key>public.kern2.period</key>
		<integer>-180</integer>
		<key>public.kern2.s</key>
		<integer>-50</integer>
		<key>public.kern2.x.isol</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>public.kern2.quoteleft</key>
		<integer>-130</integer>
		<key>public.kern2.quoteright</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.quotebase</key>
	<dict>
		<key>public.kern2.A-left</key>
		<integer>130</integer>
		<key>public.kern2.J</key>
		<integer>80</integer>
		<key>public.kern2.O</key>
		<integer>-130</integer>
		<key>public.kern2.T-left</key>
		<integer>-70</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.j</key>
		<integer>300</integer>
		<key>public.kern2.z</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.quoteleft</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-130</integer>
		<key>public.kern2.period</key>
		<integer>-210</integer>
		<key>public.kern2.quoteleft</key>
		<integer>100</integer>
		<key>public.kern2.space</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.quoteright</key>
	<dict>
		<key>egrave</key>
		<integer>-100</integer>
		<key>public.kern2.A-left</key>
		<integer>-300</integer>
		<key>public.kern2.a</key>
		<integer>-150</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.n</key>
		<integer>-90</integer>
		<key>public.kern2.o</key>
		<integer>-150</integer>
		<key>public.kern2.period</key>
		<integer>-190</integer>
		<key>public.kern2.s</key>
		<integer>-200</integer>
		<key>public.kern2.u</key>
		<integer>-100</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.t</key>
		<integer>90</integer>
	</dict>
	<key>public.kern1.schwa</key>
	<dict>
		<key>public.kern2.e.medi</key>
		<integer>70</integer>
		<key>public.kern2.o</key>
		<integer>70</integer>
		<key>public.kern2.z</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.slash</key>
	<dict>
		<key>public.kern2.slash</key>
		<integer>-340</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.h</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.x</key>
	<dict>
		<key>public.kern2.c</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>v</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
