<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B_r_a_v_o_exclam_exclam_exclam</key>
	<string>B__r_a_v_o_exclam_exclam_exclam.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.isol</key>
	<string>E_.isol.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.isol</key>
	<string>E_acute.isol.glif</string>
	<key>Ebreve</key>
	<string>E_breve.glif</string>
	<key>Ebreve.isol</key>
	<string>E_breve.isol.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecaron.isol</key>
	<string>E_caron.isol.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.isol</key>
	<string>E_circumflex.isol.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.isol</key>
	<string>E_dieresis.isol.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Edotaccent.isol</key>
	<string>E_dotaccent.isol.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.isol</key>
	<string>E_grave.isol.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Emacron.isol</key>
	<string>E_macron.isol.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eogonek.isol</key>
	<string>E_ogonek.isol.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.e</key>
	<string>G_.e.glif</string>
	<key>G.isol</key>
	<string>G_.isol.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gbreve.e</key>
	<string>G_breve.e.glif</string>
	<key>Gbreve.isol</key>
	<string>G_breve.isol.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>Gcommaaccent.e</key>
	<string>G_commaaccent.e.glif</string>
	<key>Gcommaaccent.isol</key>
	<string>G_commaaccent.isol.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>Gdotaccent.e</key>
	<string>G_dotaccent.e.glif</string>
	<key>Gdotaccent.isol</key>
	<string>G_dotaccent.isol.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>IJ.e</key>
	<string>I_J_.e.glif</string>
	<key>IJ.isol</key>
	<string>I_J_.isol.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.e</key>
	<string>J_.e.glif</string>
	<key>J.isol</key>
	<string>J_.isol.glif</string>
	<key>Jacute</key>
	<string>J_acute.glif</string>
	<key>Jacute.e</key>
	<string>J_acute.e.glif</string>
	<key>Jacute.isol</key>
	<string>J_acute.isol.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.isol</key>
	<string>K_.isol.glif</string>
	<key>K.swsh</key>
	<string>K_.swsh.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>Kcommaaccent.isol</key>
	<string>K_commaaccent.isol.glif</string>
	<key>Kcommaaccent.swsh</key>
	<string>K_commaaccent.swsh.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.isol</key>
	<string>L_.isol.glif</string>
	<key>L.swsh</key>
	<string>L_.swsh.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lacute.isol</key>
	<string>L_acute.isol.glif</string>
	<key>Lacute.swsh</key>
	<string>L_acute.swsh.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcaron.isol</key>
	<string>L_caron.isol.glif</string>
	<key>Lcaron.swsh</key>
	<string>L_caron.swsh.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Lcommaaccent.isol</key>
	<string>L_commaaccent.isol.glif</string>
	<key>Lcommaaccent.swsh</key>
	<string>L_commaaccent.swsh.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>Lslash.isol</key>
	<string>L_slash.isol.glif</string>
	<key>Lslash.swsh</key>
	<string>L_slash.swsh.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.isol</key>
	<string>Q_.isol.glif</string>
	<key>Q.swsh</key>
	<string>Q_.swsh.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.isol</key>
	<string>R_.isol.glif</string>
	<key>R.swsh</key>
	<string>R_.swsh.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Racute.isol</key>
	<string>R_acute.isol.glif</string>
	<key>Racute.swsh</key>
	<string>R_acute.swsh.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcaron.isol</key>
	<string>R_caron.isol.glif</string>
	<key>Rcaron.swsh</key>
	<string>R_caron.swsh.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>Rcommaaccent.isol</key>
	<string>R_commaaccent.isol.glif</string>
	<key>Rcommaaccent.swsh</key>
	<string>R_commaaccent.swsh.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Schwa</key>
	<string>S_chwa.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y_e_a_h_exclam</key>
	<string>Y__e_a_h_exclam.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>_part-o-slash</key>
	<string>_part-o-slash.glif</string>
	<key>_part_Q-tail</key>
	<string>_part_Q_-tail.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.medi</key>
	<string>a.medi.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.medi</key>
	<string>aacute.medi.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.medi</key>
	<string>abreve.medi.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.medi</key>
	<string>acircumflex.medi.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.medi</key>
	<string>adieresis.medi.glif</string>
	<key>adieresis.medi.salt</key>
	<string>adieresis.medi.salt.glif</string>
	<key>adieresis.salt</key>
	<string>adieresis.salt.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.salt</key>
	<string>ae.salt.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.medi</key>
	<string>agrave.medi.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.medi</key>
	<string>amacron.medi.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.medi</key>
	<string>aogonek.medi.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.medi</key>
	<string>aring.medi.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.medi</key>
	<string>atilde.medi.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.e</key>
	<string>b.e.glif</string>
	<key>b.medi</key>
	<string>b.medi.glif</string>
	<key>b.medi.e</key>
	<string>b.medi.e.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brevecomb.case</key>
	<string>brevecomb.case.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.medi</key>
	<string>c.medi.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caroncomb.case</key>
	<string>caroncomb.case.glif</string>
	<key>caroncomb.locl</key>
	<string>caroncomb.locl.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cedillacomb.case</key>
	<string>cedillacomb.case.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexcomb.case</key>
	<string>circumflexcomb.case.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaaccentcomb.case</key>
	<string>commaaccentcomb.case.glif</string>
	<key>commaturnedabovecomb</key>
	<string>commaturnedabovecomb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.medi</key>
	<string>d.medi.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcaron.medi</key>
	<string>dcaron.medi.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dcroat.medi</key>
	<string>dcroat.medi.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>dieresiscomb.case</key>
	<string>dieresiscomb.case.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.medi</key>
	<string>e.medi.glif</string>
	<key>e.postb</key>
	<string>e.postb.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.medi</key>
	<string>eacute.medi.glif</string>
	<key>eacute.postb</key>
	<string>eacute.postb.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ebreve.medi</key>
	<string>ebreve.medi.glif</string>
	<key>ebreve.postb</key>
	<string>ebreve.postb.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecaron.medi</key>
	<string>ecaron.medi.glif</string>
	<key>ecaron.postb</key>
	<string>ecaron.postb.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflex.medi</key>
	<string>ecircumflex.medi.glif</string>
	<key>ecircumflex.postb</key>
	<string>ecircumflex.postb.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edieresis.medi</key>
	<string>edieresis.medi.glif</string>
	<key>edieresis.postb</key>
	<string>edieresis.postb.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotaccent.medi</key>
	<string>edotaccent.medi.glif</string>
	<key>edotaccent.postb</key>
	<string>edotaccent.postb.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>egrave.medi</key>
	<string>egrave.medi.glif</string>
	<key>egrave.postb</key>
	<string>egrave.postb.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.osf</key>
	<string>eight.osf.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emacron.medi</key>
	<string>emacron.medi.glif</string>
	<key>emacron.postb</key>
	<string>emacron.postb.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.case</key>
	<string>emdash.case.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.case</key>
	<string>endash.case.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eogonek.medi</key>
	<string>eogonek.medi.glif</string>
	<key>eogonek.postb</key>
	<string>eogonek.postb.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>eth.posto</key>
	<string>eth.posto.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.medi</key>
	<string>f.medi.glif</string>
	<key>figurespace</key>
	<string>figurespace.glif</string>
	<key>finial</key>
	<string>finial.glif</string>
	<key>finial.A</key>
	<string>finial.A_.glif</string>
	<key>finial.H</key>
	<string>finial.H_.glif</string>
	<key>finial.f</key>
	<string>finial.f.glif</string>
	<key>finial.r</key>
	<string>finial.r.glif</string>
	<key>finial.uc</key>
	<string>finial.uc.glif</string>
	<key>finial.uc.short</key>
	<string>finial.uc.short.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.osf</key>
	<string>five.osf.glif</string>
	<key>five.tf</key>
	<string>five.tf.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.osf</key>
	<string>four.osf.glif</string>
	<key>four.tf</key>
	<string>four.tf.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.e</key>
	<string>g.e.glif</string>
	<key>g.fina</key>
	<string>g.fina.glif</string>
	<key>g.isol</key>
	<string>g.isol.glif</string>
	<key>g.medi</key>
	<string>g.medi.glif</string>
	<key>g.medi.e</key>
	<string>g.medi.e.glif</string>
	<key>gClef-musical</key>
	<string>gC_lef-musical.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.e</key>
	<string>gbreve.e.glif</string>
	<key>gbreve.fina</key>
	<string>gbreve.fina.glif</string>
	<key>gbreve.isol</key>
	<string>gbreve.isol.glif</string>
	<key>gbreve.medi</key>
	<string>gbreve.medi.glif</string>
	<key>gbreve.medi.e</key>
	<string>gbreve.medi.e.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.e</key>
	<string>gcommaaccent.e.glif</string>
	<key>gcommaaccent.fina</key>
	<string>gcommaaccent.fina.glif</string>
	<key>gcommaaccent.isol</key>
	<string>gcommaaccent.isol.glif</string>
	<key>gcommaaccent.medi</key>
	<string>gcommaaccent.medi.glif</string>
	<key>gcommaaccent.medi.e</key>
	<string>gcommaaccent.medi.e.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.e</key>
	<string>gdotaccent.e.glif</string>
	<key>gdotaccent.fina</key>
	<string>gdotaccent.fina.glif</string>
	<key>gdotaccent.isol</key>
	<string>gdotaccent.isol.glif</string>
	<key>gdotaccent.medi</key>
	<string>gdotaccent.medi.glif</string>
	<key>gdotaccent.medi.e</key>
	<string>gdotaccent.medi.e.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.calt</key>
	<string>germandbls.calt.glif</string>
	<key>germandbls.salt</key>
	<string>germandbls.salt.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.medi</key>
	<string>h.medi.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>heartsuitblack</key>
	<string>heartsuitblack.glif</string>
	<key>heartsuitwhite</key>
	<string>heartsuitwhite.glif</string>
	<key>heavyBlackHeart</key>
	<string>heavyB_lackH_eart.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hungarumlautcomb.case</key>
	<string>hungarumlautcomb.case.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.calt</key>
	<string>hyphen.calt.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotaccent</key>
	<string>idotaccent.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>ij.e</key>
	<string>ij.e.glif</string>
	<key>ij.fina</key>
	<string>ij.fina.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>instroke.ascender</key>
	<string>instroke.ascender.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.e</key>
	<string>j.e.glif</string>
	<key>j.fina</key>
	<string>j.fina.glif</string>
	<key>jacute</key>
	<string>jacute.glif</string>
	<key>jacute.e</key>
	<string>jacute.e.glif</string>
	<key>jacute.fina</key>
	<string>jacute.fina.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>jdotless.e</key>
	<string>jdotless.e.glif</string>
	<key>jdotless.fina</key>
	<string>jdotless.fina.glif</string>
	<key>joint.Ea</key>
	<string>joint.E_a.glif</string>
	<key>joint.En</key>
	<string>joint.E_n.glif</string>
	<key>joint.Es</key>
	<string>joint.E_s.glif</string>
	<key>joint.Eschwa</key>
	<string>joint.E_schwa.glif</string>
	<key>joint.Ex</key>
	<string>joint.E_x.glif</string>
	<key>joint.Ez</key>
	<string>joint.E_z.glif</string>
	<key>joint.Ha</key>
	<string>joint.H_a.glif</string>
	<key>joint.He</key>
	<string>joint.H_e.glif</string>
	<key>joint.Hn</key>
	<string>joint.H_n.glif</string>
	<key>joint.Ho</key>
	<string>joint.H_o.glif</string>
	<key>joint.Hschwa</key>
	<string>joint.H_schwa.glif</string>
	<key>joint.Hv</key>
	<string>joint.H_v.glif</string>
	<key>joint.Mschwa</key>
	<string>joint.M_schwa.glif</string>
	<key>joint.ax</key>
	<string>joint.ax.glif</string>
	<key>joint.az</key>
	<string>joint.az.glif</string>
	<key>joint.be</key>
	<string>joint.be.glif</string>
	<key>joint.bh</key>
	<string>joint.bh.glif</string>
	<key>joint.bo</key>
	<string>joint.bo.glif</string>
	<key>joint.bz</key>
	<string>joint.bz.glif</string>
	<key>joint.ea</key>
	<string>joint.ea.glif</string>
	<key>joint.ee</key>
	<string>joint.ee.glif</string>
	<key>joint.einitn</key>
	<string>joint.einitn.glif</string>
	<key>joint.en</key>
	<string>joint.en.glif</string>
	<key>joint.es</key>
	<string>joint.es.glif</string>
	<key>joint.ev</key>
	<string>joint.ev.glif</string>
	<key>joint.ex</key>
	<string>joint.ex.glif</string>
	<key>joint.ex.salt</key>
	<string>joint.ex.salt.glif</string>
	<key>joint.ez</key>
	<string>joint.ez.glif</string>
	<key>joint.fa</key>
	<string>joint.fa.glif</string>
	<key>joint.fe</key>
	<string>joint.fe.glif</string>
	<key>joint.fn</key>
	<string>joint.fn.glif</string>
	<key>joint.fs</key>
	<string>joint.fs.glif</string>
	<key>joint.fschwa</key>
	<string>joint.fschwa.glif</string>
	<key>joint.fv</key>
	<string>joint.fv.glif</string>
	<key>joint.fz</key>
	<string>joint.fz.glif</string>
	<key>joint.ga</key>
	<string>joint.ga.glif</string>
	<key>joint.ge</key>
	<string>joint.ge.glif</string>
	<key>joint.gh</key>
	<string>joint.gh.glif</string>
	<key>joint.gn</key>
	<string>joint.gn.glif</string>
	<key>joint.gs</key>
	<string>joint.gs.glif</string>
	<key>joint.gschwa</key>
	<string>joint.gschwa.glif</string>
	<key>joint.gv</key>
	<string>joint.gv.glif</string>
	<key>joint.gz</key>
	<string>joint.gz.glif</string>
	<key>joint.na</key>
	<string>joint.na.glif</string>
	<key>joint.ne</key>
	<string>joint.ne.glif</string>
	<key>joint.nn</key>
	<string>joint.nn.glif</string>
	<key>joint.ns</key>
	<string>joint.ns.glif</string>
	<key>joint.nschwa</key>
	<string>joint.nschwa.glif</string>
	<key>joint.nv</key>
	<string>joint.nv.glif</string>
	<key>joint.nx</key>
	<string>joint.nx.glif</string>
	<key>joint.nz</key>
	<string>joint.nz.glif</string>
	<key>joint.oa</key>
	<string>joint.oa.glif</string>
	<key>joint.oe</key>
	<string>joint.oe.glif</string>
	<key>joint.oh</key>
	<string>joint.oh.glif</string>
	<key>joint.on</key>
	<string>joint.on.glif</string>
	<key>joint.oo</key>
	<string>joint.oo.glif</string>
	<key>joint.os</key>
	<string>joint.os.glif</string>
	<key>joint.oschwa</key>
	<string>joint.oschwa.glif</string>
	<key>joint.ot</key>
	<string>joint.ot.glif</string>
	<key>joint.ov</key>
	<string>joint.ov.glif</string>
	<key>joint.ox</key>
	<string>joint.ox.glif</string>
	<key>joint.pe</key>
	<string>joint.pe.glif</string>
	<key>joint.pn</key>
	<string>joint.pn.glif</string>
	<key>joint.po</key>
	<string>joint.po.glif</string>
	<key>joint.ps</key>
	<string>joint.ps.glif</string>
	<key>joint.pschwa</key>
	<string>joint.pschwa.glif</string>
	<key>joint.pv</key>
	<string>joint.pv.glif</string>
	<key>joint.pz</key>
	<string>joint.pz.glif</string>
	<key>joint.qa</key>
	<string>joint.qa.glif</string>
	<key>joint.qe</key>
	<string>joint.qe.glif</string>
	<key>joint.qn</key>
	<string>joint.qn.glif</string>
	<key>joint.qs</key>
	<string>joint.qs.glif</string>
	<key>joint.qschwa</key>
	<string>joint.qschwa.glif</string>
	<key>joint.qz</key>
	<string>joint.qz.glif</string>
	<key>joint.ra</key>
	<string>joint.ra.glif</string>
	<key>joint.re</key>
	<string>joint.re.glif</string>
	<key>joint.rh</key>
	<string>joint.rh.glif</string>
	<key>joint.rn</key>
	<string>joint.rn.glif</string>
	<key>joint.ro</key>
	<string>joint.ro.glif</string>
	<key>joint.rs</key>
	<string>joint.rs.glif</string>
	<key>joint.rschwa</key>
	<string>joint.rschwa.glif</string>
	<key>joint.rt</key>
	<string>joint.rt.glif</string>
	<key>joint.rv</key>
	<string>joint.rv.glif</string>
	<key>joint.rz</key>
	<string>joint.rz.glif</string>
	<key>joint.sa</key>
	<string>joint.sa.glif</string>
	<key>joint.schwaa</key>
	<string>joint.schwaa.glif</string>
	<key>joint.schwaascender</key>
	<string>joint.schwaascender.glif</string>
	<key>joint.schwae</key>
	<string>joint.schwae.glif</string>
	<key>joint.schwan</key>
	<string>joint.schwan.glif</string>
	<key>joint.schwao</key>
	<string>joint.schwao.glif</string>
	<key>joint.schwaschwa</key>
	<string>joint.schwaschwa.glif</string>
	<key>joint.schwav</key>
	<string>joint.schwav.glif</string>
	<key>joint.schwax</key>
	<string>joint.schwax.glif</string>
	<key>joint.se</key>
	<string>joint.se.glif</string>
	<key>joint.sinite</key>
	<string>joint.sinite.glif</string>
	<key>joint.sn</key>
	<string>joint.sn.glif</string>
	<key>joint.ss</key>
	<string>joint.ss.glif</string>
	<key>joint.sschwa</key>
	<string>joint.sschwa.glif</string>
	<key>joint.st</key>
	<string>joint.st.glif</string>
	<key>joint.sv</key>
	<string>joint.sv.glif</string>
	<key>joint.sz</key>
	<string>joint.sz.glif</string>
	<key>joint.va</key>
	<string>joint.va.glif</string>
	<key>joint.vb</key>
	<string>joint.vb.glif</string>
	<key>joint.ve</key>
	<string>joint.ve.glif</string>
	<key>joint.vh</key>
	<string>joint.vh.glif</string>
	<key>joint.vn</key>
	<string>joint.vn.glif</string>
	<key>joint.vo</key>
	<string>joint.vo.glif</string>
	<key>joint.vs</key>
	<string>joint.vs.glif</string>
	<key>joint.vschwa</key>
	<string>joint.vschwa.glif</string>
	<key>joint.vv</key>
	<string>joint.vv.glif</string>
	<key>joint.vx</key>
	<string>joint.vx.glif</string>
	<key>joint.vz</key>
	<string>joint.vz.glif</string>
	<key>joint.xa</key>
	<string>joint.xa.glif</string>
	<key>joint.xe</key>
	<string>joint.xe.glif</string>
	<key>joint.xn</key>
	<string>joint.xn.glif</string>
	<key>joint.yx</key>
	<string>joint.yx.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.medi</key>
	<string>k.medi.glif</string>
	<key>k.salt</key>
	<string>k.salt.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kcommaaccent.medi</key>
	<string>kcommaaccent.medi.glif</string>
	<key>kcommaaccent.salt</key>
	<string>kcommaaccent.salt.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.medi</key>
	<string>l.medi.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lacute.medi</key>
	<string>lacute.medi.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.medi</key>
	<string>lcaron.medi.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>lcommaaccent.medi</key>
	<string>lcommaaccent.medi.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lowerRightPencil</key>
	<string>lowerR_ightP_encil.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lslash_lslash</key>
	<string>lslash_lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>macroncomb.case</key>
	<string>macroncomb.case.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.osf</key>
	<string>nine.osf.glif</string>
	<key>nine.tf</key>
	<string>nine.tf.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.e</key>
	<string>o.e.glif</string>
	<key>o.isol</key>
	<string>o.isol.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oacute.e</key>
	<string>oacute.e.glif</string>
	<key>oacute.isol</key>
	<string>oacute.isol.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflex.e</key>
	<string>ocircumflex.e.glif</string>
	<key>ocircumflex.isol</key>
	<string>ocircumflex.isol.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresis.e</key>
	<string>odieresis.e.glif</string>
	<key>odieresis.isol</key>
	<string>odieresis.isol.glif</string>
	<key>odieresis.salt</key>
	<string>odieresis.salt.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ograve.e</key>
	<string>ograve.e.glif</string>
	<key>ograve.isol</key>
	<string>ograve.isol.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>ohungarumlaut.e</key>
	<string>ohungarumlaut.e.glif</string>
	<key>ohungarumlaut.isol</key>
	<string>ohungarumlaut.isol.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omacron.e</key>
	<string>omacron.e.glif</string>
	<key>omacron.isol</key>
	<string>omacron.isol.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>one.osf</key>
	<string>one.osf.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslash.e</key>
	<string>oslash.e.glif</string>
	<key>oslash.isol</key>
	<string>oslash.isol.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>otilde.e</key>
	<string>otilde.e.glif</string>
	<key>otilde.isol</key>
	<string>otilde.isol.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>pencil</key>
	<string>pencil.glif</string>
	<key>pencil.cv01</key>
	<string>pencil.cv01.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.loclCAT</key>
	<string>periodcentered.loclC_A_T_.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.medi</key>
	<string>q.medi.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ringcomb.case</key>
	<string>ringcomb.case.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.init</key>
	<string>s.init.glif</string>
	<key>s.medi</key>
	<string>s.medi.glif</string>
	<key>s_e_h_r_g_u_t_exclam</key>
	<string>s_e_h_r_g_u_t_exclam.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>sacute.init</key>
	<string>sacute.init.glif</string>
	<key>sacute.medi</key>
	<string>sacute.medi.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scaron.init</key>
	<string>scaron.init.glif</string>
	<key>scaron.medi</key>
	<string>scaron.medi.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scedilla.init</key>
	<string>scedilla.init.glif</string>
	<key>scedilla.medi</key>
	<string>scedilla.medi.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>schwa.medi</key>
	<string>schwa.medi.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>scommaaccent.init</key>
	<string>scommaaccent.init.glif</string>
	<key>scommaaccent.medi</key>
	<string>scommaaccent.medi.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.osf</key>
	<string>seven.osf.glif</string>
	<key>seven.tf</key>
	<string>seven.tf.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.osf</key>
	<string>six.osf.glif</string>
	<key>six.tf</key>
	<string>six.tf.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.r</key>
	<string>t.r.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcaron.r</key>
	<string>tcaron.r.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcedilla.r</key>
	<string>tcedilla.r.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tcommaaccent.r</key>
	<string>tcommaaccent.r.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.osf</key>
	<string>three.osf.glif</string>
	<key>three.tf</key>
	<string>three.tf.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.case</key>
	<string>tildecomb.case.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>two.osf</key>
	<string>two.osf.glif</string>
	<key>two.tf</key>
	<string>two.tf.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.salt</key>
	<string>udieresis.salt.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>upperRightPencil</key>
	<string>upperR_ightP_encil.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>whiteDownBackhandIndex</key>
	<string>whiteD_ownB_ackhandI_ndex.glif</string>
	<key>whiteDownBackhandIndex.cv01</key>
	<string>whiteD_ownB_ackhandI_ndex.cv01.glif</string>
	<key>whiteDownBackhandIndex.cv02</key>
	<string>whiteD_ownB_ackhandI_ndex.cv02.glif</string>
	<key>whiteDownBackhandIndex.cv03</key>
	<string>whiteD_ownB_ackhandI_ndex.cv03.glif</string>
	<key>whiteHeart</key>
	<string>whiteH_eart.glif</string>
	<key>whiteLeftBackhandIndex</key>
	<string>whiteL_eftB_ackhandI_ndex.glif</string>
	<key>whiteLeftBackhandIndex.cv01</key>
	<string>whiteL_eftB_ackhandI_ndex.cv01.glif</string>
	<key>whiteLeftBackhandIndex.cv02</key>
	<string>whiteL_eftB_ackhandI_ndex.cv02.glif</string>
	<key>whiteLeftBackhandIndex.cv03</key>
	<string>whiteL_eftB_ackhandI_ndex.cv03.glif</string>
	<key>whiteRightBackhandIndex</key>
	<string>whiteR_ightB_ackhandI_ndex.glif</string>
	<key>whiteRightBackhandIndex.cv01</key>
	<string>whiteR_ightB_ackhandI_ndex.cv01.glif</string>
	<key>whiteRightBackhandIndex.cv02</key>
	<string>whiteR_ightB_ackhandI_ndex.cv02.glif</string>
	<key>whiteRightBackhandIndex.cv03</key>
	<string>whiteR_ightB_ackhandI_ndex.cv03.glif</string>
	<key>whiteUpBackhandIndex</key>
	<string>whiteU_pB_ackhandI_ndex.glif</string>
	<key>whiteUpBackhandIndex.cv01</key>
	<string>whiteU_pB_ackhandI_ndex.cv01.glif</string>
	<key>whiteUpBackhandIndex.cv02</key>
	<string>whiteU_pB_ackhandI_ndex.cv02.glif</string>
	<key>whiteUpBackhandIndex.cv03</key>
	<string>whiteU_pB_ackhandI_ndex.cv03.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.isol</key>
	<string>x.isol.glif</string>
	<key>x.poste</key>
	<string>x.poste.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.e</key>
	<string>y.e.glif</string>
	<key>y.fina</key>
	<string>y.fina.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.e</key>
	<string>yacute.e.glif</string>
	<key>yacute.fina</key>
	<string>yacute.fina.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ycircumflex.e</key>
	<string>ycircumflex.e.glif</string>
	<key>ycircumflex.fina</key>
	<string>ycircumflex.fina.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.e</key>
	<string>ydieresis.e.glif</string>
	<key>ydieresis.fina</key>
	<string>ydieresis.fina.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>ygrave.e</key>
	<string>ygrave.e.glif</string>
	<key>ygrave.fina</key>
	<string>ygrave.fina.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zero.osf</key>
	<string>zero.osf.glif</string>
	<key>zero.tf</key>
	<string>zero.tf.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
